@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Thin.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

* {
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background {
  background: url(../assets/images/background1.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header {
  width: 1028px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 26px 0;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-texts {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  color: white;
  font-weight: 600;
}

.logo-text:first-child {
  font-size: 29px;
}

.logo-text:last-child {
  font-size: 18px;
}

.logo-orange {
  position: absolute;
  visibility: hidden;
}

.logo-wrapper:hover .logo-orange {
  visibility: visible;
}

.logo-wrapper:hover .logo {
  visibility: hidden;
}

.logo-wrapper:hover .logo-texts {
  color: rgba(242, 101, 34, 1);
}

.header__info {
  display: flex;
  flex-direction: column;
}

.info__item {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.info__item:last-child {
  margin-top: 19px;
}

.info__item:hover {
  color: rgba(242, 101, 34, 1);
}

.main {
  width: 1028px;
  display: grid;
  grid-template-columns: repeat(3, 302px);
  gap: 37px 61px;
}

.main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.pop-up {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__image {
  border-left: 1px solid black;
  border-right: 1px solid white;
  border-image: linear-gradient(to right top, black, white, black);
}

.item__text {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
}

.item__button {
  position: absolute;
  padding: 9px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  bottom: -61.5px;
  left: 0;
  width: 100%;
  background-color: #f26522;
  border: none;
  transition: 400ms;
}

.main__item:hover .item__button {
  transform: translateY(-61.5px);
}

.main__item:hover .item__text {
  color: rgba(242, 101, 34, 1);
}

.button-texts-left {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  align-items: flex-start;
}

.button-text-left:first-child {
  font-size: 10px;
}

.button-text-left:nth-child(2) {
  margin-top: 3px;
  font-size: 20px;
}

.button-text-right::after {
  content: ">";
  margin-right: 14px;
  margin-left: 16px;
}

.footer {
  width: 1028px;
  display: flex;
  justify-content: center;
  padding: 34px 0 15px 0;
}

.footer__copyright {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
